/* [data-testid = "stAppViewContainer"] {
    background: linear-gradient(
        135deg,
        #1b1f28,
        #11151c
    );
} */

.glass {
    background: rgba(255,255,255,0.1);

    backdrop-filter: blur(12px);

    border-radius: 20px;

    padding: 20px;

    border: 1px solid rgba(255,255,255,0.2);

    box-shadow:
        0 8px 32px rgba(0,0,0,0.3);
}

/* MAIN BACKGROUND */

[data-testid="stAppViewContainer"] {

    background: linear-gradient(
        135deg,
        #0f172a,
        #1e293b
    );

    color: white;
}


/* OPTION MENU CONTAINER */

.st-emotion-cache-1rtdyuf {

    background: rgba(255,255,255,0.08);

    backdrop-filter: blur(12px);

    border-radius: 999px;

    padding: 10px;

    border: 1px solid rgba(255,255,255,0.15);

    width: fit-content;

    margin: auto;

    margin-top: 30px;
}


/* BUTTONS */

.nav-link {

    border-radius: 999px !important;

    margin: 0px 8px;

    transition: 0.3s;
}


/* HOVER EFFECT */

.nav-link:hover {

    background: rgba(255,255,255,0.15) !important;

    transform: translateY(-2px);
}